
.card {
  cursor: pointer;
  height: 150px;
  margin: 15px;
  overflow: hidden;
  width: 150px;
}

.card-height {
  height: 100% !important;
  width: 100% !important;
}

 .card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

