.navbar {
  background: transparent;
  /* min-height: 50px; */
  font-size: 1.2rem;
  padding: 10px 0;
  width: 100%;
  color: black;
  /* z-index: 99; */
  position: fixed;
  top: 0;
}

.navbar div:first-child {
  font-weight: 700;
}

.navbar div {
  margin-bottom: 0;
  text-align: center;
  width: 50%;
}

.incorrect {
  color: red;
}