.banner {
  height: 50px;
  margin: 5% 5% !important;
  padding: 0px !important;
  color: black !important;
  font-size: 1rem;
  justify-content: center;
}

p {
  margin-top: 30px;
  margin-bottom: 0px;
}
